# IDE
.idea/
.vscode/
*.swp
*.bak

# Gradle
.gradle/
build/

# Node
node_modules/
dist/

# Flutter
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Infrastructure Data (DB/Redis)
infrastructure/db/data/
infrastructure/redis/
