# MTS Admin Dashboard Environment Configuration Example
VITE_API_HOST=100.91.106.15
VITE_ACCOUNT_SERVER_URL=http://100.91.106.15:9000
VITE_TRADING_SERVER_URL=http://100.91.106.15:9001
VITE_VERIFIER_SERVER_URL=http://100.91.106.15:9002


